.standard-card {
    background-color: var(--greyish-blue);
    width: 280px;
    height: 174px;
    border-radius: 8px;
  }

  .bookmark-mark {
    position: absolute;
    margin-left: 232px;
    margin-right: 24px;
    z-index: 1;
}
.card-details-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 130px;
    height: 100px;
    width: calc(470px - 24px);
    align-items: center;
}

.card-details-wrapper > * {
    font-size: 20px;
}