.side-bar {
  position: absolute;
  width: 6rem;
  height: 48rem;
  background-color: var(--semi-dark-blue);
  border-radius: 1.25rem;
  left: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 4rem;
}
.logo {
  position: absolute;
  width: 2rem;
  height: 1.6rem;
  left: 1.9912rem;
  top: 2.2131rem;
}

.pages {
  position: absolute;
  width: 1.25rem;
  height: 12.5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  top: 8.5rem;
  left: 2.375rem;
}
.pages > * {
  fill: var(--greyish-blue);
}
.pages > * > svg {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: inherit;
}
.pages > * > svg:hover {
  cursor: pointer;
  fill: var(--red);
}
.avatar {
  display: flex;
  align-self: center;
  margin-top: auto;
  height: fit-content;
  width: fit-content;
}
.avatar > img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
.logo,
.avatar:hover {
  cursor: pointer;
}
.active {
  fill: #ffffff;
}
