.trending-card {
    display: flex;
}
.trending-card > img {
    width: 470px;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
}
.bookmark-mark {
    position: absolute;
    margin-left: 414px;
    margin-right: 24px;
    margin-top: 16px;
    z-index: 1;
}
.card-details-wrapper {
    display: flex;
    position: absolute;
    margin-top: 130px;
    height: 100px;
    width: calc(470px - 24px);
    padding-left: 24px;
    align-items: center;
}
