
  <div class="trending-card">
    <img src='/assets/thumbnails/112/regular/medium.jpg' alt="Movie image"/>
    
    <div *ngIf="bookmarkStatus == false"  class="bookmark-mark" (click)="changeState()">
      <app-bookmark-empty></app-bookmark-empty>
    </div>
    <div *ngIf="bookmarkStatus == true"  class="bookmark-mark" (click)="changeState()">
      <app-bookmark-full></app-bookmark-full>
    </div>
    <div class="card-details-wrapper">
    <app-media-details mediaTitle="Beyond Earth" yearOfRelease="2019" rating="PG" mediaType="Movie"></app-media-details>
    </div>
  </div>
  