<div class="form-container">
  <div class="logo-wrapper"><img src="./assets/logo.svg" alt="app icon" /></div>
  <form>
    <h1>Login</h1>
    <div class="form-input">
      <input type="text" placeholder="Email address"/>
      <input type="password"  placeholder="Password"/>
      <input type="password"  placeholder="Repeat password"/>
    </div>
    <login-button text="add"></login-button>
    <div class="page-prompt">
      <p>Already Have an account?</p>
      <a href="">Login</a>
    </div>
  </form>
</div>
