.form-container {
    margin: 0;
    padding: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: aqua;

}
.logo-wrapper {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 7.1875rem;
}
form {
    margin: 0;
    padding: 0;
    background-color: var(--semi-dark-blue);
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    border-radius: 1.25rem;
}
form > h1 {
    margin-bottom: 2.5rem;
    font-size: var(--heading-large);
}
.form-input {
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    margin-bottom: 2.5rem;
}
.form-input > input {
    height: 2.3125rem;
    border: none;
    background-color: var(--semi-dark-blue);
    border-bottom: 1px solid var(--greyish-blue);
    color: var(--pure-white);
    caret-color: var(--red);
    outline: none;
}
.form-input > input:hover {
    cursor: pointer;
    border-bottom:1px solid var(--pure-white);
}
.form-input > input:focus {
    border-bottom:1px solid var(--pure-white);
}
.form-input > input::placeholder {
    color: var(--pure-white);
    font-size: var(--body-large);
    font-weight: lighter;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.page-prompt {
display: flex;
margin-top: 1.5rem;
justify-content: center;
}
.page-prompt > a {
    margin-left: 0.625rem;
    color: var(--red);
    text-decoration: none;
}